{
  "useTabs": false,
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "noSemi": false,
  "rcVerbose": true,
  "singleAttributePerLine": true,
  "importOrder": [],
  "importOrderSeparation": true
}
